spring:
  application:
    name: spring-security-helloworld
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  security:
    filter:
      order: 10

server:
  port: 8080

jwt:
  secret: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"
  expiration: 86400000 # 24小时

logging:
  level:
    org.springframework.security: DEBUG
    com.example.helloworld: DEBUG